body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

#text_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

#introduction_container {
    display: flex;
    justify-content: space-between; /* align horizontal */
    align-items: center; /* align vertical */
    height: 90vh;
    width: 50vw;
    padding-right: 5%;
    padding-left: 5%;
}

#introduction_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#avatar {
    height: 30vh;
    width: 20vw;
}

#t_welcome {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

#occupation {
    border-bottom: 1px solid #4B9CD3;
}

#avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

model-viewer {
    height: 400px;
    width: 600px;
}

#container_element {
    display: flex;
    flex-direction: column;
    width: 40vw;
}
    
#element {
   text-align: center;
   margin-top: 5vw;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    animation: transitionIn 1s ease-in-out;
}

@keyframes transitionIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

/************* Responsive ********************/
@media screen and (max-width: 900px) {
    #container {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #introduction_container {
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        flex-direction: column;
        height: 80vh;
        width: 70vw;
        padding-right: 0;
        padding-left: 0;
    }

#element {
    margin-top: 0;
}

#container_element {
    width: 50vw;
}

#text_container {
    width: 70vw;
}
}

/* @media screen and (max-width: 600px) {
    #introduction_text {
        margin-top: 70vh;
    }
} */